#navbar {
  position: fixed;
  top: 0;
  background-color: var(--blue);
  z-index: 1000;
}

.navbar-search {
  background-color: var(--light-blue);
  overflow: hidden;
}

.navbar-search-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 1;
}
